    @page "/"
@using Banksystem


<PageTitle>Index</PageTitle>
<h1>Please enter your Information</h1>
<h2>Create an account</h2>
<p>Name: 
<input type='text' @bind="name"><br></p>
<p>Lastname: 
<input type='text' @bind="Lastname" ><br></p>
<p>birthday day:
<input type='number' @bind="day" ><br></p>
<p>birthday month: 
<input type='number' @bind="Month" ><br></p>
<p>birtday year: 
<input type='number' @bind="Year" ><br></p>
<p>Kind of Account:
<select name="number">
    <option value="CheckingAccount">CheckingAccount</option>
    <option value="Savingaccount">Savingaccount</option>
</select>
</p>

<button @onclick="CreateCustomer"> Create Customer</button>
<button @onclick="StoreAccount"> Save account</button>
@code{


    string name;
    string Lastname;
    int day;
    int Month;
    int Year;
    Banksystem.Customer customer;

    public void CreateCustomer()
    {
        customer = new Customer(name, Lastname,day,Month,Year);
        var  account  = new CheckingAccount(customer);
        Bank.Accounts.Add(account);
    }
    public void LoadedAccount()
    {
        Bank.LoadAccounts();

    }
    public void StoreAccount()
    {
        Bank.SaveAccounts();
    }

}