@page "/"
@using Banksystem

<PageTitle>Index</PageTitle>
<h1>Please enter your Information</h1>
<h2>Create an account</h2>
<p>Name:
    <input type='text' @bind="name"><br>
</p>
<p>Lastname:
    <input type='text' @bind="Lastname"><br>
</p>
<p>birthday day:
    <input type='number' @bind="day"><br>
</p>
<p>birthday month:
    <input type='number' @bind="Month"><br>
</p>
<p>birtday year:
    <input type='number' @bind="Year"><br>
</p>

<button @onclick="CreateCustomer"> Create Customer</button><br>

@if (Bank.Accounts.Count() == 0)
{
    <p>No accounts in list.</p>
}
@foreach (var customer in Bank.Accounts )
{  
    Account:
    <a href="/account/@customer.Owner.Name">
    @customer.Owner.Name, @customer.Owner.Lastname<br>
    </a> <br/>
}




@code {
    protected override void OnInitialized()
    {
       Bank.LoadAccounts();
    }



    string name;
    string Lastname;
    int day;
    int Month;
    int Year;
    bool Savingaccount=false;
    decimal savingbalance =0;
    int  balance= 50;

    Banksystem.Customer customer;

    public void CreateCustomer()
    {
        customer = new Customer(name, Lastname, day, Month, Year,balance,Savingaccount,savingbalance);
        var account = new CheckingAccount(customer);
        Bank.Accounts.Add(account);
        Bank.SaveAccounts();
    }
    public void LoadedAccount()
    {
        Bank.LoadAccounts();

    }
}