#Accountbalancestyle{
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;


    
}
#myDiv {
    width: 100px;
    height: 100px;
    background-color:grey;
    margin: 50px 50px;
    padding: 10px;
  }